// MAIN
$base-font-size: 16px; // overight value in function.scss
$base-color: #ffffff;
$primary-color: #000000;
$secondary-color: #f7091a;
$lightgrey: #999999;

// BOXYLAB
$boxy-black: #000;
$boxy-white: #ffffff;
$boxy-red: #f7091a;